@import url(../css/reset.css);
@import url(../css/98.css);
/* line 4, ../scss/styles.scss */
* {
  user-select: none;
}

/* line 8, ../scss/styles.scss */
body {
  background: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
/* line 16, ../scss/styles.scss */
body header {
  position: fixed;
  bottom: 0;
  left: 0;
  background: #BCBEBC;
  min-width: 100%;
  padding: 0.4rem;
  border-top: 2px solid #F4F5EF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}
/* line 30, ../scss/styles.scss */
body header .start-btn {
  width: 94px;
  height: 24px;
  border-style: solid;
  border-width: 2px;
  border-color: #dfdfdf #4b4b4b #4b4b4b #dfdfdf;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-shrink: 0;
}
/* line 43, ../scss/styles.scss */
body header .start-btn h2 {
  font-size: 14px;
  font-family: "Pixelated MS Sans Serif fix";
}
/* line 52, ../scss/styles.scss */
body header .task {
  width: 100%;
  margin: 0 0.4rem;
  display: flex;
  justify-content: start;
  align-items: center;
}
/* line 60, ../scss/styles.scss */
body header .task .tab {
  width: 16rem;
  height: 2.4rem;
  display: flex;
  justify-content: start;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  border-color: #4b4b4b #dfdfdf #dfdfdf #4b4b4b;
  padding: 0.4rem;
}
/* line 72, ../scss/styles.scss */
body header .task .tab:active {
  border-style: solid;
  border-width: 2px;
  border-color: #4b4b4b #dfdfdf #dfdfdf #4b4b4b !important;
}
/* line 80, ../scss/styles.scss */
body header .task .tab:focus-within {
  outline: 1px dotted #000000;
  outline-offset: -4px;
}
/* line 87, ../scss/styles.scss */
body header .task .tab.inactive-tab {
  border-style: solid;
  border-width: 2px;
  border-color: #dfdfdf #4b4b4b #4b4b4b #dfdfdf;
}
/* line 95, ../scss/styles.scss */
body header .task .tab p {
  height: 17px;
  font-family: "Pixelated MS Sans Serif fix";
  padding-left: 0.4rem;
  overflow: hidden;
}
/* line 108, ../scss/styles.scss */
body header .time-ctn {
  height: 24px;
  font-size: 1.2rem;
  padding: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  border-color: #4b4b4b #dfdfdf #dfdfdf #4b4b4b;
}
/* line 126, ../scss/styles.scss */
body .desktop .icon {
  width: 72px;
  height: 72px;
  font-size: 11px;
  padding: 0.4rem;
  display: grid;
  text-align: center;
  line-height: 1.5rem;
  align-items: center;
  justify-items: center;
  color: #fff;
}
/* line 141, ../scss/styles.scss */
body .desktop .window {
  z-index: 93;
}
/* line 145, ../scss/styles.scss */
body .desktop .window.max {
  left: 0 !important;
  top: 0 !important;
  margin: 0 !important;
  width: 100% !important;
  height: 96.5vh !important;
}
/* line 153, ../scss/styles.scss */
body .desktop .window.max button[aria-label="Maximize"] {
  background-image: url("../images/icon/restore.svg");
  background-repeat: no-repeat;
  background-position: top 2px left 3px;
}
/* line 165, ../scss/styles.scss */
body .desktop .window .title-bar-text {
  display: flex;
  align-items: center;
}
/* line 172, ../scss/styles.scss */
body .desktop .window .window-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
/* line 182, ../scss/styles.scss */
body .desktop .window#welcome {
  position: absolute;
  /* width: 35%; */
  min-width: 20%;
  top: 20%;
  left: 40%;
}
/* line 190, ../scss/styles.scss */
body .desktop .window#welcome #welcomebody {
  font-size: 1.1rem;
}
/* line 194, ../scss/styles.scss */
body .desktop .window#welcome #welcomebody img {
  height: 25.6rem;
}
/* line 200, ../scss/styles.scss */
body .desktop .window#welcome #welcomebody h1 {
  font-size: 1.6rem;
}
/* line 208, ../scss/styles.scss */
body .desktop .window#welcome #welcomebody ul li {
  font-family: "Pixelated MS Sans Serif fix";
}
/* line 220, ../scss/styles.scss */
body .desktop .window#internet {
  position: absolute;
  min-width: 65%;
  top: 20%;
  left: 10%;
}
/* line 227, ../scss/styles.scss */
body .desktop .window#internet #internetbody {
  height: 100%;
  background: #fff;
}
/* line 232, ../scss/styles.scss */
body .desktop .window#internet #internetbody .internettoolbar {
  display: flex;
  width: 100%;
  background: #c0c0c0;
}
/* line 238, ../scss/styles.scss */
body .desktop .window#internet #internetbody .internettoolbar input {
  user-select: text;
}
/* line 246, ../scss/styles.scss */
body .desktop .window#internet #internetbody iframe {
  display: block;
  min-height: 600px;
  background: #fff;
}
/* line 259, ../scss/styles.scss */
body .desktop .window#popupInternet {
  position: absolute;
  /* width: 35%; */
  min-width: 20%;
  top: 20%;
  left: 40%;
}
/* line 267, ../scss/styles.scss */
body .desktop .window#popupInternet #popupInternetbody {
  font-size: 1.1rem;
}
/* line 279, ../scss/styles.scss */
body .hidden {
  visibility: hidden !important;
  display: none !important;
}
/* line 286, ../scss/styles.scss */
body .anim {
  animation: here 1s infinite;
}

@keyframes here {
  from {
    background: linear-gradient(90deg, grey, #b5b5b5);
  }
  to {
    background: linear-gradient(90deg, var(--dialog-blue), var(--dialog-blue-light));
  }
}
