body {
    background: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header {
    position: fixed;
    bottom: 0;
    background: #BCBEBC;
    min-width: 100%;
    padding: 0.4rem;
    border-top: 4px solid #F4F5EF;
}

header .start-btn h2 {
    font-size: 1.6rem;
    font-family: "Pixelated MS Sans Serif";
}

.start-btn {
    margin-top: 2px;
    width: 90px;
    height: 30px;
    border-style: solid;
    border-width: 2px;
    border-color: #dfdfdf #4b4b4b #4b4b4b #dfdfdf;
    text-align: center;
}